

html{
  overflow-x: hidden;
  overflow-y:hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.burger{
  position: absolute;
  top: 6vh;
  right: 5vh;
  width: 8vh;
  height: 7vh;
  cursor: pointer;
  transition: transform 0.2s linear;
  /* background-color: grey; */
}

.burger--toggle-anim{
  transform: rotate(-180deg);
}

.burger div {
  width: 5vh;
  height: 1vh;
  background-color: rgb(119, 119, 119);
  border-radius: 10px;

}

#line1 {
  transform: translateY(1.5vh) rotate(90deg);
  width: 8vh;
}

#line2{
  transform: translate(-0.2vh,2.4vh)rotate(45deg);
}

#line3{
  transform: translate(3.2vh, 1.4vh)rotate(-45deg);
}

.canvas-wrapper{
  width: 100vw;
  height: 100vh;
  background-color: red;
}

.menu{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140vh;
  padding-top: 40vh;
  background-color: rgba(0, 0, 0, 0.712);
  color: rgb(199, 199, 199);
  transform: translateY(-140vh);
  transition: transform 0.3s cubic-bezier(0.21, 0.9, 0.65, 1.35);
}

.toggleanim{
  transform: translateY(-39vh);
  /* background-color: red; */
}


.menu--wrapper{
  margin-top: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 10vh;
}

.menu--wrapper h2{
  margin-bottom: 4vh;
  font-weight: bold;
  font-size: 2rem;
}

.menu--list{
  list-style: none;

}

.menu--list li {
  margin-bottom: 1vh;
}